@{
    Layout = null;
}

@model OST_Inventory.Models.Account


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>

        var message = "@ViewBag.Message";
        var redirect = "@Url.Action("DashBoard", "Home")"
        document.addEventListener("DOMContentLoaded", function () {
            if (message != "") {
                if (message == "Login Success") {
                    setTimeout(function () {
                        window.location.href = redirect;
                    }, 2000)
                }
            }
            document.getElementById("spanMessage").innerHTML = message;
       
        })
            

        function ValidateLogin() {

            console.log("clicked");
            if (document.getElementById('txtUserName').value == "" || document.getElementById('txtPassword').value == "") {
                alert('input needed');
                return false;
            }
            return true;

        }

    </script>


</head>
<body>
    @using (Html.BeginForm("Login", "Auth", FormMethod.Post))
    {

        <div class="row" style="
            height: 400px;
            width: 400px;
            top: 0;
            bottom: 0;
            margin: auto;
            background: aquamarine;
            position: fixed;
            left: 0;
            right: 0;
            padding:10px;">

            <center>
                <h1> Login</h1>
                <label for="basic-url" style="float:left">User Name</label>
                <div class="input-group mb-3">
                    @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", id = "txtUserName", style = "width:100%,max-width:100% !important" })
                </div>

                <label for="basic-url" style="float: left">Password</label>
                <div class="input-group mb-3">
                    @Html.TextBoxFor(m => m.Password, new { @class = "form-control", id = "txtPassword", style = "width:100%,max-width:100% !important" })
                </div>

                <input type="submit" class="btn btn-primary" value="login" onclick='return ValidateLogin()' style="width:100%;max-width:100%" />
                <span id="spanMessage"></span>

            </center>


            @*<div class="col-12">

                </div>

                <div class="col-12">

                </div>*@

        </div>

    }




</body>
</html>
