<div id="dvMemberpanel" style="display:none;">
    @using (Html.BeginForm("SaveMember", "Home"))
    {

        <div class="row mb-2">
            <div class="col col-12">
                User Name
                <input type="text" name="txtUserName" />
            </div>
        </div>
        <div class="row mb-2">
            <div class="col col-12">
              PassWord
                <input type="text" name="txtPassword" />
            </div>
        </div>
        <div class="row mb-2">
            <div class="col col-12">
                Role
                <input type="text" name="txtRole" />
            </div>
        </div>
        <div class="row mb-2">
            <div class="col col-12">

                <input type="submit" value="save" name="btnsubmit" />
            </div>
        </div>

    }



</div>
